<div class="container">
  <h2>ユーザー一覧</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ユーザー名</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, admin_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>